.App{
    position: relative;
    font-family: 'Montserrat',sans-serif;
}
a, a:hover{
    text-decoration: none;
}

h1{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

h3{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

h4{
    font-size: 1.5vw;
    text-transform: uppercase;
    margin: 10px 0;
}


/*-------------- scrollbar --------------*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #3F83D9;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFDBC6;
}


/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {
    h3{
        font-size: 6vw;
    }

    h4{
        font-size: 3vw;
    }
}
