.header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt {
    width: 90%;
    text-align: center;
    color: white;
}

.quote{
    width: 50%;
    margin: 0 auto 50px;
    font-weight: bold;
    text-transform: uppercase;
}

hr{
    border-top: 3px solid white;
}

/*-------------- Phone --------------*/
@media only screen and (max-width: 420px) {
    .quote {
        width: 100%;
    }
}